body {
    margin: 0px;
      
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.framework {
  font-family: Helvetica;
  text-align: center;
  background-color: #090b5e;
  border-color: white;
  color: white;
  border-radius: 1rem;
}

.btn-width {
  width: 10rem !important;
}

.viz-btn {
  font-family: Helvetica;
  text-align: center;
  background-color: #d4d1d1;
  border-color: white;
  color: #727272;
  border-radius: 1rem !important;
}

.btn-style {
  font-family: Helvetica;
  text-align: center;
  background-color: #8a8a8a;
  border-color: white;
  color: white;
  border-radius: 2rem !important;
}

.responvie-width {
  width: 11rem;
}

.uploadFileButton {
  overflow: hidden;
}

.uploadFileButton input.uploadFile {
  font-size: 12px;
}

.chartClass {
  background-color: #111111;
  height: 100vmax;
}

.toggleBackground {
  background-color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #525252d3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #525252d3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.multiselect-container > .active > a, 
.multiselect-container > .active > a:hover {
  background-color: #8a8a8a !important;
}
.multiselect-container > .active > a:focus {
  background-color: #8a8a8a !important;
}


.ui-datepicker {
  width: 25% !important;
}

.ui-datepicker-header {
background-color: #8a8a8a !important;
}

.ui-datepicker-title {
color: #ffffff;
font-size: small;
font-family: Helvetica !important;
}

.ui-datepicker td {
padding: 0;
font-size: small;
background-color: #8b8b8b32 !important;
}

.ui-datepicker-calendar {
  background: #ffffff;
}

.ui-widget-content .ui-state-default {
  font-family: Helvetica !important;
  border: 0px;
  text-align: center;
  background: #ffffff !important;
  font-weight: normal;
  color: #444444 !important;
}

.ui-widget-content .ui-state-default:hover {
  font-family: Helvetica !important;
  border: 0px;
  text-align: center;
  background: #8a8a8a !important;
  font-weight: bolder;
  color: #ffffff !important;
}


.nav-link-wrapper a:hover {
    color: black;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    opacity: .5;
    background-color: rgb(255, 255, 255); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow: 0 5px 10px #888888;;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #5e5e5e;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #000;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .homeCls {
    position: relative;
  }
  
  .vizBtn {
    position: absolute;
    top: 60%;
    left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3d3d3d;
    color: white;
    font-size: 30px;
    padding: 6px 12px;
    border-color: white;
    border-radius: 6px;
    text-align: center;
  }

    @media (max-width: 700px) {
      .btn-responsive {
        padding:3px 6px;
        font-size:15px;
        line-height: 1;
        border-radius:3px;
      }
    }
    
    /* @media (min-width: 769px) and (max-width: 992px) {
      .btn-responsive {
        padding:4px 9px;
        font-size:90%;
        line-height: 1.2;
      }
    }
     */
  

  